{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ range .Pages }}
    <div>
      <h2><a href="{{ .Permalink }}">{{ with .Title }}{{ . }}{{ else }}{{ .File.BaseFileName | humanize | title }}{{ end }}</a></h2>
      <p>
        {{ with .Description }}
          {{ . | safeHTML }}
        {{ else }}
          {{ (index (split .Summary "\n") 0) | safeHTML }}
        {{ end }}
      </p>
    </div>
  {{ end }}
  <div class="container tagcloud">
    {{ if ne (len $.Site.Taxonomies.tags) 0 }}
      {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
      {{ $show := div $max 3 }}
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
          {{ $tagCount := len $taxonomy.Pages }}
            {{ if gt $tagCount $show }}
            {{ $tagClassId := div (mul $tagCount 8) $max }}
            <a class="tag tag-{{ $tagClassId }}" href="{{ "/tags/" | relURL }}{{ $name | urlize }}" 
            class="tagcloud-item">
              #{{ $name }}</sup>
            </a>
            {{ end }}
        {{ end }}
    {{ end }}
</div>

{{ end }}
