<!--LiveInternet counter--><a href="https://www.liveinternet.ru/click"
target="_blank"><img id="licnt88D3" width="88" height="120" style="border:0" 
title="LiveInternet: number of visitors and pageviews is shown"
src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
alt=""/></a><script>(function(d,s){d.getElementById("licnt88D3").src=
"https://counter.yadro.ru/hit?t28.1;r;s1440*900*24;uhttps%3A//how2gpt.xyz/;hHow%20to%20%7C%20How%20to;0.01887766246728173;"+Math.random()})
(document,screen)</script><!--/LiveInternet-->
